Value:CDCEventLog(

ids=[],

before=[
NodeDefinition(owner=BEFORE,nodeName=id,nodeValue=1004,nodeType=INT32,optional=false),
NodeDefinition(owner=BEFORE,nodeName=first_name,nodeValue=ccc,nodeType=STRING,optional=false),
NodeDefinition(owner=BEFORE,nodeName=last_name,nodeValue=Kretchmar,nodeType=STRING,optional=false),
NodeDefinition(owner=BEFORE,nodeName=email,nodeValue=annek@noanswer.org,nodeType=STRING,optional=false)
],

after=[
NodeDefinition(owner=AFTER,nodeName=id,nodeValue=1004,nodeType=INT32,optional=false),
NodeDefinition(owner=AFTER,nodeName=first_name,nodeValue=ddd,nodeType=STRING,optional=false),
NodeDefinition(owner=AFTER,nodeName=last_name,nodeValue=Kretchmar,nodeType=STRING,optional=false),
NodeDefinition(owner=AFTER,nodeName=email,nodeValue=annek@noanswer.org,nodeType=STRING,optional=false)
],

source=[
NodeDefinition(owner=SOURCE,nodeName=version,nodeValue=1.2.0.Final,nodeType=STRING,optional=false),
NodeDefinition(owner=SOURCE,nodeName=connector,nodeValue=mysql,nodeType=STRING,optional=false),
NodeDefinition(owner=SOURCE,nodeName=name,nodeValue=dbserver1,nodeType=STRING,optional=false),
NodeDefinition(owner=SOURCE,nodeName=ts_ms,nodeValue=1594719608000,nodeType=INT64,optional=false),
NodeDefinition(owner=SOURCE,nodeName=snapshot,nodeValue=false,nodeType=STRING,optional=true),
NodeDefinition(owner=SOURCE,nodeName=db,nodeValue=inventory,nodeType=STRING,optional=false),
NodeDefinition(owner=SOURCE,nodeName=table,nodeValue=customers,nodeType=STRING,optional=true),
NodeDefinition(owner=SOURCE,nodeName=server_id,nodeValue=223344,nodeType=INT64,optional=false),
NodeDefinition(owner=SOURCE,nodeName=gtid,nodeValue=null,nodeType=STRING,optional=true),
NodeDefinition(owner=SOURCE,nodeName=file,nodeValue=mysql-bin.000003,nodeType=STRING,optional=false),
NodeDefinition(owner=SOURCE,nodeName=pos,nodeValue=1424,nodeType=INT64,optional=false),
NodeDefinition(owner=SOURCE,nodeName=row,nodeValue=0,nodeType=INT32,optional=false),
NodeDefinition(owner=SOURCE,nodeName=thread,nodeValue=6,nodeType=INT64,optional=true),
NodeDefinition(owner=SOURCE,nodeName=query,nodeValue=null,nodeType=STRING,optional=true)
],

transaction=[],

op=UPDATE,

ts=1594719608585
)